.carousel {
    display: none;
}

.star {
    display: none;
}

.carousel_inline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
}

.inline_icons {
    display: flex;
    gap: 20px;
    margin-bottom: 50px;
    justify-content: center;
}

.carousel_inline h3 {
    font-family: MitogenDisplay;
    font-size: 3rem;
    font-weight: 500;
    margin: 0;
}

.inline_icons img {
    width: 12.5vw;
    height:  auto
}