.header_bg {
    display: none;
}

.header {
    background-image: url(../img/backgrounds/bg.png);
    background-position: center;
    background-attachment: fixed;
}

h3 {
    font-size: 2rem;
    text-align: center;
}

.project-box img:not(.logo_lien) {
    float : none;
    margin: 0;
    width: 150px;
    height: 150px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.project-box p {
    font-size: 1rem
}

.container {
    width: 85%;
}

.bouton-lien {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;
    border-radius: 50px;
}

.logo_lien {
    display: none;
}