
html {
    scroll-behavior: smooth;

}

::selection {
    background-color: #b977cf;
    color: white;
}

body {
    background: rgb(255,168,111);
    background: linear-gradient(0deg, rgba(255,168,111,1) 41%, rgba(212,155,192,1) 100%);
    margin: 0;
    display: flex;
    justify-content: center;
    overflow-x: hidden;

}



.header {
    background: rgb(255,168,111);
    background: linear-gradient(0deg, rgba(255,168,111,1) 0%, rgb(255, 172, 226) 100%);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}


#bg_1 {
    z-index : 3;
}

#bg_2 {
    z-index : 2;
}

#bg_3 {
    z-index : 1;
}


.header h1 {
    font-size: 8rem;
    font-family: MitogenDisplay;
    font-weight: 500;
    margin: 0;
    z-index: 10;
    text-align: center;
    background-color: black;
    color: white;
    transform:rotate(-2deg);
    width: 100vw;
}

.header h2 {
    font-size: 6rem;
    font-family: Rawgly;
    background-color: black;
    color: white;
    width: 100vw;
    text-align: center;
    transform: rotate(2deg);
    font-weight: 500;
    margin : 0;
    z-index: 10;
}

.music_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 30px;
    z-index: 10;
}

.music_container p {
    font-size: 3rem;
    font-family: MitogenDisplay;
    margin: 0;
    z-index: 10;
    transition: all .5s;

}

.music_btn {
    font-family: MitogenDisplay;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: all .25s;
}

.music_btn:hover {
    transform: scale(1.1);
}


.arrow {
    position: relative;
    top: 150px;
    z-index: 10;
}

.container {
    position: relative;
    z-index: 10;
    height: 90vh;  
    padding-top: 10vh;
}


.about {
    background-color: #F9CDCA;
}

.container_about {
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
}

.container_about p {

    font-size: 1.75rem;
    font-family: AvenirNextCyr-Regular;
}

.container_about p strong {
    color: #7A517D;
    font-family: AvenirNextCyr-Bold;    
}

.container_about img {
    width: 30%;
    height: 30%;
    border-radius: 125px;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .container_about img:hover {
    border-radius: 100px;
    transform: scale(1.05);
  }

  .container_about h2 {
    font-size: 8rem;
    font-family: Rawgly;
    text-align: center;
    padding-top: 50px;
    font-weight: 500;
    margin: 0;
  }

  .container_about h3 {
    font-size: 4rem;
    font-family: AvenirNextCyr-Bold;
    text-align: center;
    padding-top: 50px;
    font-weight: 500;
    margin: 0;
  }

  .container_about h4 {
    font-size: 3rem;
    font-family: AvenirNextCyr-Bold;
    text-align: center;
    padding-top: 50px;
    font-weight: 500;
    margin: 0;
  }

  .container_about h5 {
    font-size: 2rem;
    font-family: AvenirNextCyr-Bold;
    text-align: center;
    padding-top: 50px;
    font-weight: 500;
    margin: 0;
  }

  .container_about h6 {
    font-size: 1.5rem;
    font-family: AvenirNextCyr-Bold;
    text-align: center;
    padding-top: 50px;
    font-weight: 500;
    margin: 0;
  }

  .container_about h7 {
    font-size: 1rem;
    font-family: AvenirNextCyr-Bold;
    text-align: center;
    padding-top: 50px;
    font-weight: 500;
    margin: 0;
  }

  .container_about h8 {
    font-size: 0.5rem;
    font-family: AvenirNextCyr-Bold;
    text-align: center;
    padding-top: 50px;
    font-weight: 500;
    margin: 0;
  }

  .container_about h9 {
    font-size: 0.25rem;
    font-family: A
}


.container h2 {
    font-size: 8rem;
    font-family: Rawgly;
    text-align: center;
    padding-top: 50px;
    font-weight: 500;
    margin: 0;
}

.skills {
    background-color: #FFCEDC;
}

.skills h2 {
    font-size: 8rem;
    font-family: Rawgly;
    text-align: center;
    padding-top: 50px;
    font-weight: 500;
    margin: 0;
}

.container_skills {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
}


.projects {
    background-color: #E5C0EE;
}

.projects h2 {
    font-size: 8rem;
    font-family: Rawgly;
    text-align: center;
    padding-top: 50px;
    font-weight: 500;
    margin: 0;
}

.links {
    background-color: #d7a3e9;
}

.links h2 {
    font-size: 8rem;
    font-family: Rawgly;
    text-align: center;
    padding-top: 50px;
    font-weight: 500;
    margin: 0;
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-top: 30px;
}

.project-box {
    margin: auto;
    background-color: rgba(0, 0, 0, 0);
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .project-box img {
    width: 400px;
    height: 400px;
    border-radius: 125px;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border: solid 2px #000
  }

  .project-box img:hover {
    border-radius: 100px;
    transform: scale(1.05);
  }

  .img-text {
    font-size: 4rem;
    font-family: AvenirNextCyr-Regular;
    text-align: center;
    margin-top: 20px;
  }

  .all_projects {
    display: flex;
    font-size: 4rem;
    font-family: MitogenDisplay;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    color: black;
  }

  .links {
    display: flex;
    flex-direction: column;
    align-items: center;  
    height: 90vh;
  }

  .container_links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-top: 50px;
  }

  .box_link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 400px;
    border: solid 2px #000;
    border-radius: 50px;
    transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);

  }

    .box_link:hover {
        transform: scale(1.05);
    }


    #github:hover {
        background: rgba(0, 0, 0, 0.5) url('../img/backgrounds/bg_github.png') no-repeat center center;
        background-size: cover;
    }

    #linkedin:hover {
        background : rgba(0,0,0,0.5) url('../img/backgrounds/bg_linkedin.png') no-repeat center center;
        background-size: cover;
    }

    #mail:hover {
        background : rgba(0,0,0,0.5) url('../img/backgrounds/bg_mail.png') no-repeat center center;
        background-size: cover;
    }

    .box_link:hover img {
        filter: invert(100%);
    }

  .container_links a {
    text-decoration: none;
    color: black;
  }

  .box_link img {
    width: 150px;
    height: 150px;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);

  }

  .box_link h3 {
    font-family: AvenirNextCyr-Bold;
    font-size: 3rem;
    margin: 30px;

  }


  .link_name {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }